DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=edunote
DB_PORT=3306
NODE_ENV=development
SESSION_SECRET=edunote-secret-change-this
ADMIN_EMAIL=admin@edunote.com
ADMIN_PASSWORD=Admin@123
CLOUDINARY_CLOUD_NAME=dhoidxde0
CLOUDINARY_API_KEY=329565793787787
CLOUDINARY_API_SECRET=Q-Lwy1cYjUA8rxsElVgMQbgiW7g
